.success{
    h1{
        text-align: center;
        margin: 100px 0 20px 0;

        span{
            color: #7750C9;
        }
    }

    .payment {
        width: 200px;
        height: 200px;
        display: block;
        margin: 0 auto;
        image-rendering: auto;
    }

    p{
        margin: 20px 0px;
        font-size: 18px;
        text-align: center;
    }
}