.btn{
    margin-top: 20px;
    width: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #7750C9;
    color: white;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}